# Pandas Data Structure

In [3]:
import pandas as pd
import pandas_datareader as pdr

In [6]:
print(pdr.get_quote_yahoo('AAPL')['price'])

AAPL    205.08
Name: price, dtype: float64

## DataFrame

- Matrix/Table like data structrue

In [2]:
from pandas import DataFrame as DF

In [3]:
dc = {
    "col1": ["row1", "row2", "row3"],
    "col2":  [i for i in range(3)],
    "col3":  [i*2 for i in range(4, 7)]
}

fields = ["col1", "col2", "col3"]
dr = [{col: i for col in  fields } for i in range(1,5)]

In [4]:
DF(dr, index= [f"row{n}" for n in range(1, 5)])

      col1  col2  col3
row1     1     1     1
row2     2     2     2
row3     3     3     3
row4     4     4     4

In [5]:

DF(dc, index=["row1", "row2", "row3"])

      col1  col2  col3
row1  row1     0     8
row2  row2     1    10
row3  row3     2    12

In [6]:
t1 = DF(dc, columns=["col3", "col2", "col1"])
t1["col1"][1]

'row2'

In [23]:
%%timeit -n1 -r1
d = {col: [row for row in range(10000) ] for col in range(10000)}
print(d[5000][5000])

5000
9.62 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [24]:
%%timeit -n1 -r1
import numpy as np

arr = np.arange(10000*10000)
arr = arr.reshape(10000,10000)
print(arr[5000][5000])

50005000
451 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [ ]:
%%timeit -n1 -r1
l = list(range(10000*10000))
l[100000] = 8

In [17]:
%%timeit 
s1M = S(range(1000*1000))
s1M[100000] = 8
#print(s1M[100000], s1M[100001])

22.9 ms ± 641 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [18]:
%%timeit -n1 -r1
s100M = S(range(10000*10000))
s100M[10000000] = 8
print(s100M[10000000], s100M[10000001])

8 10000001
2.1 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [12]:
%%timeit -n1 -r1
t1M = DF({col: [row for row in range(1000) ] for col in range(1000)})
t1M[500][500] = 0
print(t1M[500][500] , t1M[500][501] )

0 501
837 ms ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

In [14]:
%%timeit -n1 -r1
t1B = DF({col: [row for row in range(10000) ] for col in range(10000)})
t1B[5000][5000] = 0
print(t1B[5000][5000] , t1B[5000][5001])

0 5001
48.5 s ± 0 ns per loop (mean ± std. dev. of 1 run, 1 loop each)

## Seriers

- (index, value) list like data structure
    
- from S(list/array)

- from S(dict)

- from S(values, indexes)

- from S(scalar, indexes)

In [8]:
from pandas import Series as S

In [13]:
l = S(range(10))
print(l)
d = S({"a":1, "b":2,"c":3})
print(d)

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64
a    1
b    2
c    3
dtype: int64