# Raw Cell

\documentclass{article}
\begin{document}
This is
one paragraph.
This is another.

\begin{tabular}{lcc}
  galaxy & magnitude & redshift \\
  NGC 891 & 15.5 & 0.02 \\
  M87 & 14.8 & 0.01			
  \end{tabular}
  
\end{document}

# SQLite3

In [14]:
import os

dataPath = r"./data/"

print(os.getcwd())
print(os.listdir())
if not os.access(dataPath, os.R_OK):
    os.mkdir(dataPath)
print(os.listdir())

C:\Users\hpzju\Desktop\MyKB\DataScience
['.ipynb_checkpoints', 'data', 'DataPersistence.ipynb']
['.ipynb_checkpoints', 'data', 'DataPersistence.ipynb']

## SQLite Syntax

### Datatypes

- dynamic typing
- system types
    - NULL
    - INTEGER
    - REAL
    - TEXT
    - BLOB
    
### Documentation

- https://www.sqlite.org/syntaxdiagrams.html
- https://www.sqlite.org/lang.html
- https://www.sqlite.org/lang_corefunc.html

## SQLite CRUD

### Create

- create table TABLENAME(col1 TYPE, col2 TYPE....)

### Read

        select [all | distinct] 
          COLNAME from [TABLENAME | SUBQUERY | JOINCLAUSE] 
          where EXPR
          group by EXPR
          having EXPR
          order by EXPR
          limit EXPR

### Update

- alter table TABLEANME rename to NEWTABLENAME
- alter table TABLEANME rename column COLNAME to NEWCOLNAME
- alter table TABLEANME add column COLDEF

        update TABLEANME 
          set COL = EXPR 
          where EXPR 
          
        insert into TABLENAME COLS() values()  
          where EXPR

### Delete

- drop table if exists TABLEANME

- delete from TABLEANME where EXPR

In [31]:
import sqlite3

db = sqlite3.connect(dataPath+'example.db')
db.execute("CREATE TABLE IF NOT EXISTS contacts(name, phone, email)")
db.execute("INSERT INTO contacts(name, phone, email) VALUES('Tim', '13984739842', 'test@google.com')")
db.execute("INSERT INTO contacts VALUES('Brain', '139847332343', 'brains@google.com')")
db.execute("INSERT INTO contacts VALUES('Brain', '139847332343', 'brains@google.com')")

cursor = db.cursor()
cursor.execute("SELECT * FROM contacts")
print("get row", cursor )
for row in cursor:
    print(row)
    
cursor.close()  

db.commit()
db.close()

get row <sqlite3.Cursor object at 0x000001C5EE4D0880>
('Tim', '13984739842', 'test@google.com')
('Brain', '139847332343', 'brains@google.com')
('Brain', '139847332343', 'brains@google.com')

In [36]:
import sqlite3

db = sqlite3.connect(dataPath+'example.db')
cursor = db.cursor()
cursor.execute("SELECT * FROM contacts")

for row in cursor:
    print("name: {0}\n  mobile: {1}\n  email: {2}".format(*row))
    
cursor.close()
db.close()

name: Tim
  mobile: 13984739842
  email: test@google.com
name: Brain
  mobile: 139847332343
  email: brains@google.com
name: Brain
  mobile: 139847332343
  email: brains@google.com